.mainMessage {
    min-height: 100vh;
    padding: 0 20px;
    background-image: url('../../assets/images/EventHome.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.messageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageSection {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.messageTitle {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.266px;
}
.messageHeaderIcons{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
}