.buttonMain {
    color: #848484;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: #E72D38;
    color: #fff;
    padding: 10px;
    border: 1px solid #E72D38;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.otpButtonReply{
    color: #848484;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: #E72D38;
    color: #fff;
    padding: 10px;
    border: 1px solid #E72D38;
   
}

.buttonComponent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: calc(100% - 40px);
    box-sizing: border-box;
    background: #E72D38;
    color: #fff;
    border: 1px solid #E72D38;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    position: fixed;
    bottom: 20px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .buttonComponent {
        width: calc(100% - 40px);
        max-width: 335px;
    }
  }