.buttonMain {
    color: #848484;
    font-family: Avenir Next LT Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: #E72D38;
    width: 100%;
    color: #fff;
    padding: 10px;
    border: 1px solid #E72D38;
}
.otpButtonReply{
    color: #848484;
    font-family: Avenir Next LT Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: #E72D38;
    color: #fff;
    width: 335px;
    padding: 10px;
    border: 1px solid #E72D38;
    position: absolute;
    bottom: 20px;
}

.buttonComponent {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}