.topContainer {
    display: flex;
    background: #fff;
    padding-top: 20px;

    .backArrow {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .infoText {
        margin-left: 10px;
        color: #000;
        font-family: "AvenirNextLTPro-Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        letter-spacing: -0.304px;
        height: 20px;
    }
}

.messageTopContainer {
    display: flex;
    padding-top: 20px;

    .messageTopBackArrow {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .messageHeaderText {
        margin-left: 10px;
        color: #fff;
        font-family: "AvenirNextLTPro-Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.304px;
        height: 20px;
        font-weight: bold;
    }
}
